<!DOCTYPE html>
<html>
    {% include 'presenter/head.html' %}
    
    <body>
        <div id="bg-image" style="background-image: url({{ url_for('static', _external=True, filename=bg_image) }});"></div>

        <div id="question-wrapper">
            <!-- Logo -->
            {% include 'logo.html' %}

            <!-- Category header -->
            <h2 id="question-category-header"><span id="question-category-span">{{ category["name"] }}</span>{% if stage == 'QUESTION' %}<br>{% if daily_double %}Daily Double!{% else %}for <span id="question-reward-span">{{ value }} points</span>{% endif %}{% if "choices" in extra %} <img src="{{ url_for('static', _external=True, filename='img/list.png') }}" id="question-choices-indicator">{% endif %}{% endif %}</h2>

            {% if daily_double %}
            {% set max_wager = [player_with_turn["score"], max_value] | max %}
            <div id="question-wager-wrapper" class="d-none">
                <h3>How many points dares <span style="color: #{{ player_with_turn['contestant']['color'] }}; font-weight: 800;">{{ player_with_turn['contestant']["name"] }}</span> wager? (max {{ max_wager }})</h3>
            </div>
            {% endif %}

            <!-- Question header -->
            {% question %}
            <h3 id="question-question-header">{{ question }}</h3>
            {% endif %}

            <!-- Question images -->
            {% if "question_image" in extra %}
            <div id="question-question-image-wrapper">
                <img id="question-question-image"{% if "border" in extra %} class="image-border"{% endif %} src="{{ url_for('static', _external=True, filename=base_folder + extra['question_image'] ) }}" style="height: {{ extra['height'] }}px; {% if "border" in extra %}border-color: {{ extra['border'] }};{% endif %}">
                {% if "answer_image" in extra %}
                <img id="question-answer-image"{% if "border" in extra %} class="image-border"{% endif %} src="{{ url_for('static', _external=True, filename=base_folder + extra['answer_image'] ) }}" style="height: {{ extra['height'] }}px; {% if "border" in extra %}border-color: {{ extra['border'] }};{% endif %}">
                {% endif %}
            </div>
            {% endif %}

            <!-- Question video -->
            {% if "question_video" in extra %}
            {% if ".mp4" in extra["question_video"] %}
            {% set video_type = "mp4" %}
            {% else %}
            {% set video_type = "webm" %}
            {% endif %}
            <div id="question-question-image-wrapper">
                <video id="question-question-video" style="height: {{ question['height'] }}px;"{% if 'volume' in extra %} class="volume-{{ extra['volume'] }}"{% endif %}>
                    <source src="{{ url_for('static', _external=True, filename=base_folder + extra['question_video']) }}" type="video/{{ video_type }}">
                </video>
            </div>
            {% endif %}

            <div id="question-choices-wrapper">
                <!-- Answer choices -->
                {% if "choices" in extra %}
                {% for option in extra["choices"] %}
                <div id="question-answer-{{ loop.index }}" class="question-answer-entry">
                    <p>
                        <span class="question-answer-number">{{ loop.index}}:</span> <span class="question-answer-text">{{ option }}</span>
                    </p>
                </div>
                {% endfor %}
                {% endif %}
            </div>

            <!-- Question tips -->
            {% if 'tips' in extra %}
                {% for tip in extra['tips'] %}
                <div id="question-tip-{{ loop.index1 }}" class="question-tip-wrapper">
                    <h3 class="question-tip-header">Tip {{ loop.index1 }}</h3>
                    <div class="question-tip-content">{{ tip }}</div>
                </div>
                {% endfor %}
            {% endif %}

            <!-- Countdown wrapper -->
            <div id="question-countdown-wrapper">
                <div id="question-countdown-frozen" class="d-none">
                    <img src="{{ url_for('static', filename='img/frozen.png') }}">
                </div>
                <div id="question-countdown-filled"></div>
                <div id="question-countdown-text">30</div>
            </div>

            <!-- Buzz-in feed -->
            <div id="question-buzz-feed" class="d-none">
                <ul></ul>
            </div>
            
            <!-- Correct answer -->
            <div id="question-answer-correct" class="d-none">
                <div id="question-correct-reason">Correct!{% if "explanation" in extra %} ({{ extra["explanation"] }}){% endif %} <img class="question-result-avatar" src="{{ url_for('static', _external=True, filename='img/happy_nono.png') }}"> <span class="question-answer-value"></span> points</div>
            </div>
            
            <!-- Wrong answer -->
            <div id="question-answer-wrong" class="d-none">
                <div id="question-wrong-reason"><span id="question-wrong-reason-text"></span> <img class="question-result-avatar" src="{{ url_for('static', _external=True, filename='img/nat_fine.png') }}"> <span class="question-answer-value"></span> points</div>
                <p id="question-actual-answer" class="d-none">Rigtige svar var <span class="question-emph">'{{ answer }}'{% if "explanation" in extra %} ({{ extra["explanation"] }}){% endif %}</span></p>
            </div>
        </div>

        <!-- Power Up splash video -->
        <div id="question-power-up-splash" class="d-none">
            {% for power_up in pack['power_ups'] %}
            <video id="question-power-up-video-{{ power_up['type'] }}" class="d-none">
                <source src="{{ url_for('static', _external=True, filename=power_up['video']) }}" type="video/webm">
            </video>
            {% endfor %}
        </div>
        
        <!-- Contestants -->
        {% include 'presenter/footer.html' %}
    </body>

    <!-- Buzzer sound -->
    <audio id="question-buzzer-sound">
        <source src="{{ url_for('static', _external=True, filename='data/sounds/buzzer.mp3') }}" type="audio/mpeg">
    </audio>

    <!-- Buzz-in sounds for contestants -->
    {% for contestant in game_contestants %}
    {% if contestant.buzz_sound %}
    <audio id="question-buzzer-{{ contestant['contestant_id'] }}">
        <source src="{{ url_for('static', _external=True, filename=contestant['buzz_sound']) }}" type="audio/mpeg">
    </audio>
    {% endif %}
    {% endfor %}

    <!-- Correct/wrong answers sounds -->
    {% if stage == "QUESTION" %}
    <audio id="question-sound-correct">
        <source src="{{ url_for('static', _external=True, filename=correct_sound) }}" type="audio/mpeg">
    </audio>
    {% for sound_file in wrong_sounds %}
    <audio class="question-sound-wrong">
        <source src="{{ url_for('static', _external=True, filename=sound_file) }}" type="audio/mpeg">
    </audio>
    {% endfor %}
    {% else %}
    <audio id="question-finale-suspense" class="volume-7">
        <source src="{{ url_for('static', _external=True, filename='data/sounds/suspense.mp3') }}" type="audio/mpeg">
    </audio>
    {% endif %}

    <script>
        initialize(
            {{ game_contestants | tojson }},
            "{{ answer | safe }}",
            {{ value }},
            {{ buzz_time }},
            {{ daily_double | tojson }}
        );

        socket.on("connect", function() {
            socket.on("presenter_joined", function () {
                socket.on("buzz_received", addBuzzToFeed);
                socket.on("buzz_winner", playerBuzzedFirst);
                socket.on("power_up_used", powerUpUsed);

                {% if daily_double %}
                document.getElementById("question-wager-wrapper").classList.remove("d-none");
                socket.on("daily_wager_made", function(amount) {
                    afterDailyDoubleWager(amount);
                });

                {% else %}
                window.onkeydown = function(e) {
                    if (e.code == PRESENTER_ACTION_KEY) {
                        showQuestion();
                        {% if jeopardy_round == total_rounds %}
                        setTimeout(function() {
                            socket.emit("reveal_finale_category");
                        }, 2000);
                        {% endif %}
                    }
                }
                {% endif %}

                {% if not daily_double and stage == "FINALE_QUESTION" %}
                {% for contestant_data in game_contestants %}
                    {% if contestant_data["finale_wager"] == 0 %}
                    setPlayerReady({{ contestant_data["contestant_id"] }});
                    {% endif %}
                {% endfor %}
                socket.on("contestant_ready", setPlayerReady);
                {% endif %}
            });

            socket.emit("presenter_join", "{{ created_by }}");
        });

        placeAnswerImageIfPresent();
    </script>
</html>