<!DOCTYPE html>
<html>
    {% include 'presenter/head.html' %}
    <body>
        <div id="bg-image"></div>

        <div id="selection-wrapper">
            <!-- Logo -->
            {% include 'logo.html' %}

            <!-- Categories -->
            {% if stage == "SELECTION" %}

            <!-- Regular rounds question selection -->
            <div id="selection-categories-wrapper">
                {% for category_data in categories %}
                <div class="selection-category-entry">
                    <div class="selection-category-header">
                        <span>{{ category_data["name"] }}</span>
                    </div>
                    {% for question_data in category_data["questions"] %}
                    <div class="selection-question-box{% if question_data['used'] or first_round %} inactive{% endif %}" onclick="goToQuestion(event.target, '{{ question_data['question_id'] }}', {{ question_data['daily_double'] | tojson }})">
                        <span>{{ question_data["value"] }}</span>
                    </div>
                    {% endfor %}
                </div>
                {% endfor %}
            </div>

            {% if first_round %}
            <audio id="selection-start-sound">
                <source src="{{ url_for('static', _external=True, filename='data/sounds/its_happening.mp3') }}" type="audio/mpeg">
            </audio>
            {% endif %}

            {% else %}

            <!-- Finale category reveal -->
            <div id="selection-finale-wrapper">
                <h1>{{ name }}</h1>
                <h2 id="selection-finale-header1">The category is...</h2>
                <h2 id="selection-finale-header2">{{ categories[0]["name"] }}</h2>
                <h3 id="selection-finale-header3">Time to go all in!</h3>
            </div>

            <!-- Jeopardy theme music -->
            <audio id="selection-jeopardy-theme">
                <source src="{{ url_for('static', _external=True, filename='img/jeopardy/jeopardy_theme.mp3') }}" type="audio/mpeg">
            </audio>
            {% endif %}

            <!-- Contestants -->
            {% include 'presenter/footer.html' %}
        </div>
    </body>

    <script>
        initialize({{ game_contestants | tojson }});

        const arrowKeys = ["ArrowRight", "ArrowLeft", "ArrowUp", "ArrowDown"];

        socket.on("connect", function() {
            socket.on("presenter_joined", function () {
                window.onkeydown = function(e) {
                    {% if first_round %}
                    if (e.code == PRESENTER_ACTION_KEY) {
                        let startSound = document.getElementById("selection-start-sound");
                        startSound.volume = 0.3;
                        startSound.play();
                        chooseStartingPlayer(function(turn) {
                            setPlayerTurn(turn, true);
                            document.querySelectorAll(".selection-question-box").forEach((elem) => {
                                elem.classList.remove("inactive");
                            });
                            let playerId = playerIds[turn];
                            socket.emit("first_turn", playerId);
                        });
                    }
                    {% endif %}
                    if (arrowKeys.includes(e.code)) {
                        tabulateCategorySelection(e.code, {{ categories | length - 1 }});
                    }
                    else if (e.code == "Enter") {
                        goToSelectedCategory();
                    }
                };
                {% if stage == "SELECTION" and not first_round %}
                setPlayerTurn("{{ player_with_turn['contestant_id'] }}");
                {% elif stage == "FINALE_WAGER" %}
                showFinaleCategory();
                socket.on("contestant_ready", setPlayerReady);
                {% endif %}
            });

            socket.emit("presenter_join", "{{ created_by }}");
        });
    </script>
</html>