<div id="connection-status-wrapper">
    <div id="connection-status">{{ _locale["connecting"] }}</div>
</div>

<script>
    const statusElem = document.getElementById("connection-status");

    const intervalId = setInterval(function() {
        if (statusElem.textContent.endsWith("...")) {
            statusElem.textContent = statusElem.textContent.slice(0, statusElem.textContent.length - 3);
        }
        else {
            statusElem.textContent += ".";
        }
    }, 1000);

    function setConnectionStatusWaiting() {
        statusElem.textContent = "{{ _locale['waiting'] }}";
    }

    function hideConnectionStatus() {
        clearInterval(intervalId);
        document.getElementById("connection-status-wrapper").classList.add("d-none");
    }
</script>