<div id="connection-status-wrapper">
    <div id="connection-status"></div>
</div>

<script>
    const statusElem = document.getElementById("connection-status");
    let statusText = "{{ _locale['connecting'] }}";
    statusElem.textContent = statusText;

    const intervalId = setInterval(function() {
        if (statusElem.textContent.endsWith("...")) {
            statusElem.textContent = statusText;
        }
        else {
            statusElem.textContent += ".";
        }
    }, 1000);

    function setConnectionStatusWaiting() {
        statusText = "{{ _locale['waiting'] }}";
    }

    function hideConnectionStatus() {
        clearInterval(intervalId);
        document.getElementById("connection-status-wrapper").classList.add("d-none");
    }
</script>