<!DOCTYPE html>
<html>
    {% include 'presenter/head.html' %}

    <body>
        <div class="bg-fill{% theme_bg_img %} bg-image" style="background-image: url({{ url_for('static', _external=True, filename=theme_bg_img) }}); {% endif %}"></div>
        <div id="endscreen-techno-overlay" class="d-none"></div>

        <div id="endscreen-wrapper">
            {% include 'logo.html' %}

            <h1>{% if lan_mode %}GG WP!{% else %}{{ _locale['header'] }}{% endif %}</h1>

            <!-- Winner description -->
            <p id="endscreen-winner-desc">{% autoescape false %}{{ winner_desc }}{% endautoescape %}</p>

            <div id="endscreen-avatars-wrapper">
                {% for winner in winners %}
                <div class="endscreen-avatars-entry">
                    <img src="{{ url_for('static', _external=True, filename='img/crown.png') }}" class="endscreen-crown">
                    <img src="{{ url_for('static', _external=True, filename=winner['avatar']) }}" class="endscreen-avatar">
                </div>
                {% endfor %}
            </div>

            <!-- Scores table -->
            <table id="endscreen-scores-table">
                <tr>
                    <th>{{ _locale['name'] }}</th>
                    <th>{{ _locale['score'] }}</th>
                    <th>{{ _locale['buzzes'] }}</th>
                    <th>{{ _locale['correct'] }}</th>
                    <th>{{ _locale['wrong'] }}</th>
                </tr>

                {% for contestant in game_contestants %}
                <tr>
                    <td class="endscreen-score-name" style="color: {{ contestant['color'] }};">{{ contestant['name'] }}</td>
                    <td class="endscreen-score-data">{{ contestant['score'] }}</td>
                    <td class="endscreen-score-data">{{ contestant['buzzes'] }}</td>
                    <td class="endscreen-score-data">{{ contestant['hits'] }}</td>
                    <td class="endscreen-score-data">{{ contestant['misses'] }}</td>
                </tr>
                {% endfor %}
            </table>

            <video id="endscreen-confetti-video" muted loop>
                <source src="{{ url_for('static', _external=True, filename='img/confetti.webm') }}", type="video/webm">
            </video>
        </div>

        {% if lan_mode %}
        <!-- I LOVE LEAGUE OF LEGENDS! -->
        <audio id="endscreen-sound" class="volume-5">
            <source src="{{ url_for('static', _external=True, filename='data/sounds/league.mp3') }}" type="audio/mpeg">
        </audio>
        {% endif %}

        <!-- Shooting Star celebratory music -->
        <audio id="endscreen-music">
            <source src="{{ url_for('static', _external=True, filename='data/sounds/shooting_star.mp3') }}" type="audio/mpeg">
        </audio>
    
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                const endscreenSound = document.getElementById("endscreen-sound");
                if (endscreenSound) {
                    endscreenSound.play();
                }

                startWinnerParty();
            });
        </script>
    </body>
</html>