<!DOCTYPE html>
<html>
    {% include 'presenter/head.html' %}
    <body>
        <div id="bg-image"></div>

        <div id="finale-wrapper">
            <!-- Logo -->
            {% include 'jeopardy/logo.html' %}

            <!-- Category and question -->
            <h2 id="finale-category-header">{{ category["name"] }}</h2>
            <h3 id="finale-question-header">{{ question }}</h3>
            <h4>{{ _locale["wager_header"] }}</h4>

            <div id="finale-wagers-wrapper">
                {% for contestant in game_contestants %}
                <div class="finale-wager-entry">
                    <span class="finale-wager-name" style="color: #{{ contestant['color'] }};">{{ contestant["name"] }}</span>: <div class="finale-wager-amount">{{ contestant["wager"] }}</div>
                </div>
                {% endfor %}
            </div>

            <h3 id="finale-answer">{{ _locale["answer_header"] }} <span class="question-emph">{{ answer }}</span></h3>

            <div id="finale-results-wrapper">
                <ul>
                    {% for contestant in game_contestants %}
                    <li class="finale-result-name">
                        <span>{{ contestant["name"] }}</span> {{ _locale["player_answer"] }} <strong>{{ contestant["answer"] }}</strong> <span class="finale-result-desc"></span>
                    </li>
                    {% endfor %}
                </ul>
            </div>

            <p id="endscreen-teaser">{{ _locale["endscreen_teaser"] }}</p>
        </div>
    </body>

    <script>
        initialize(
            {{ player_data | tojson }},
            "{{ stage | safe }}",
            {{ _locale | tojson }},
        );

        socket.on("connect", function() {
            socket.emit("presenter_join", "{{ created_by }}");
        });

        window.onkeydown = function(e) {
            if (e.code == PRESENTER_ACTION_KEY) {
                document.activeElement.blur();
                showFinaleResult();
            }
        }
    </script>
</html>