<!DOCTYPE html>
<html>
    {% include 'presenter/head.html' %}
    <body>
        <div class="bg-fill{% if theme and theme['bg_image'] %} bg-image" style="background-image: url({{ url_for('static', _external=True, filename=theme['bg_image']) }}); {% endif %}"></div>

        <div id="finale-wrapper">
            <!-- Logo -->
            {% include 'logo.html' %}

            <!-- Category and question -->
            <h2 id="finale-category-header">{{ category["name"] }}</h2>
            <h3 id="finale-question-header">{{ question }}</h3>
            <h4>{{ _locale["wager_header"] }}</h4>

            <div id="finale-wagers-wrapper">
                {% for contestant in game_contestants %}
                <div class="finale-wager-entry">
                    <span class="finale-wager-name" style="font-weight: 800; color: {{ contestant['color'] }};">{{ contestant["name"] }}</span>: <div class="finale-wager-amount">{{ contestant["wager"] }}</div>
                </div>
                {% endfor %}
            </div>

            <h3 id="finale-answer">{{ _locale["answer_header"] }} <span class="question-emph">{{ answer }}</span></h3>

            <div id="finale-results-wrapper">
                <ul>
                    {% for contestant in game_contestants %}
                    <li class="finale-result-name">
                        <span style="font-weight: 800;">{{ contestant["name"] }}</span> {{ _locale["player_answer"] }} <strong>{{ contestant["answer"] }}</strong> <span class="finale-result-desc"></span>
                    </li>
                    {% endfor %}
                </ul>
            </div>

            <p id="endscreen-teaser">{{ _locale["endscreen_teaser"] }}</p>
        </div>

        <!-- Import theme, if any is defined -->
        {% if theme %}
        {% include theme['template_path'] + '/finale.html' ignore missing %}
        {% include theme['template_path'] + '/global.html' ignore missing %}
        {% endif %}

        <script>
            initialize(
                '{{ game_contestants | tojson }}',
                "{{ stage | safe }}",
                '{{ _locale | tojson }}'
            );

            socket.on("connect", function() {
                socket.on("presenter_joined", function () {
                    hideConnectionStatus();
                });

                socket.emit("presenter_join", "{{ created_by }}");
            });

            window.onkeydown = function(e) {
                if (e.code == PRESENTER_ACTION_KEY) {
                    document.activeElement.blur();
                    showFinaleResult();
                }
            }
        </script>
    </body>
</html>