<!DOCTYPE html>
<html>
    {% include 'presenter/head.html' %}
    
    <body>
        {% include 'presenter/connection_status.html' %}

        <div id="bg-fill"></div>

        <div id="menu-wrapper">
            {% include 'logo.html' %}
            <h2 id="menu-game-title">{{ title }}</h2>

            {% if lan_mode %}
            <div id="menu-lobby-url">
                Skriv <span id="menu-join-command">!jeopardy</span> i <strong>CoreNibbas</strong> for at joine!
            </div>
            {% else %}
            <div id="menu-lobby-url">
                <div>{{ _locale["lobby_url_1"] }}</div>
                <span id="menu-join-url">{{ join_url }}</span>
                <div>{% if password %} {{ _locale["lobby_url_2"] }}{% endif %} {{ _locale["lobby_url_3"] }}</div>
            </div>
            {% endif %}

            <h3>{{ _locale["contestants"] | capitalize }}</h3>
            <div id="menu-contestants">
                {% if not game_contestants %}
                <p id="menu-no-contestants-placeholder">{{ _locale["none_joined"] }}</p>
                {% endif %}
            </div>

            {% if lan_mode %}
            <img id="menu-naafiri" src="{{ url_for('static', _external=True, filename='img/naafiri_dance.gif') }}">
            <img id="menu-alistar" src="{{ url_for('static', _external=True, filename='img/alistar_dance.gif') }}">
            <img id="menu-teemo" src="{{ url_for('static', _external=True, filename='img/teemo_dance.gif') }}">
            <img id="menu-ivern" src="{{ url_for('static', _external=True, filename='img/ivern_dance.gif') }}">
            <img id="menu-brand" src="{{ url_for('static', _external=True, filename='img/brand_dance.gif') }}">
            <img id="menu-nidalee" src="{{ url_for('static', _external=True, filename='img/nidalee_dance.gif') }}">
            <img id="menu-quinn" src="{{ url_for('static', _external=True, filename='img/quinn_thonk.gif') }}">
            <img id="menu-vi" src="{{ url_for('static', _external=True, filename='img/vi_point.gif') }}">
            {% endif %}
        </div>

        {% if lobby_music %}
        <audio id="menu-lobby-music" loop>
            <source src="{{ url_for('static', _external=True, filename=lobby_music) }}" type="audio/mpeg">
        </audio>
        {% endif %}
    </body>

    <script>
        socket.on("connect", function() {
            socket.on("presenter_joined", function() {
                socket.on("contestant_joined", addContestantDiv);
            });

            socket.emit("presenter_join", "{{ created_by }}");
        });

        {% for contestant in game_contestants %}
        addContestantDiv("{{ contestant['id'] }}", "{{ contestant['name'] }}", "{{ contestant['avatar'] }}", "{{ contestant['color'] }}");
        {% endfor %}

        window.onkeydown = function(e) {
            if (e.code == PRESENTER_ACTION_KEY) {
                let audio = document.getElementById("menu-lobby-music");
                if (audio != null) {
                    audio.volume = 0.1;
                    audio.play();

                    setTimeout(function() {
                        window.onkeydown = function(e) {
                            if (e.code == PRESENTER_ACTION_KEY) {
                                beginJeopardy();
                            }
                        }
                    }, 1000);
                }
                else {
                    beginJeopardy();
                }
            }
        }
    </script>
</html>