<!DOCTYPE html>
<html>
    {% include 'presenter/head.html' %}
    
    <body>
        {% include 'presenter/connection_status.html' %}

        <div class="bg-fill{% if theme and theme['bg_image'] %} bg-image" style="background-image: url({{ url_for('static', _external=True, filename=theme['bg_image']) }}); {% endif %}"></div>

        <div id="menu-wrapper">
            {% include 'logo.html' %}
            <h2 id="menu-game-title">{{ title }}</h2>

            {% if lan_mode %}
            <div id="menu-lobby-url">
                Skriv <span id="menu-join-command">!jeopardy</span> i <strong>CoreNibbas</strong> for at joine!
            </div>
            {% else %}
            <div id="menu-lobby-url">
                <div>{{ _locale["lobby_url_1"] }}</div>
                <span id="menu-join-url">{{ join_url }}</span>
                <div>{% if password %} {{ _locale["lobby_url_2"] }}{% endif %} {{ _locale["lobby_url_3"] }}</div>
            </div>
            {% endif %}

            <h3>{{ _locale["contestants"] | capitalize }}</h3>
            <div id="menu-contestants">
                {% if not game_contestants %}
                <p id="menu-no-contestants-placeholder">{{ _locale["none_joined"] }}</p>
                {% endif %}
            </div>

        </div>
        
        {% if pack['lobby_music'] %}
        <audio id="menu-lobby-music" loop{% if pack['lobby_volume'] %} data-volume="{{ pack['lobby_volume'] }}"{% endif %}>
            <source src="{{ url_for('static', _external=True, filename=pack['lobby_music']) }}" type="audio/mpeg">
        </audio>
        {% endif %}

        {% if theme %}
        {% include theme['template_path'] + '/lobby.html' ignore missing %}
        {% include theme['template_path'] + '/global.html' ignore missing %}
        {% endif %}
        
        <script>
            initialize(
                '{{ game_contestants | tojson }}',
                "{{ stage | safe }}",
                '{{ _locale | tojson }}'
            );

            socket.on("connect", function() {
                socket.on("presenter_joined", function() {
                    hideConnectionStatus();
                    socket.on("contestant_joined", contestantJoined);
                    socket.on("contestant_disconnected", contestantDisconnected);
                    socket.emit("setup_complete", false);
                });

                socket.emit("presenter_join", "{{ created_by }}");
            });

            {% for contestant in game_contestants %}
            contestantJoined('{{ contestant | tojson }}');
            {% endfor %}

            window.onkeydown = function(e) {
                if (e.code == PRESENTER_ACTION_KEY) {
                    let audio = document.getElementById("menu-lobby-music");
                    if (audio != null) {
                        if (audio.dataset.volume != null) {
                            audio.volume = audio.dataset.volume;
                        }

                        audio.play();

                        setTimeout(function() {
                            window.onkeydown = function(e) {
                                let contestants = document.querySelectorAll(".menu-contestant-entry");
                                if (contestants.length > 0 && e.code == PRESENTER_ACTION_KEY) {
                                    beginJeopardy();
                                }
                            }
                        }, 1000);
                    }
                    else {
                        beginJeopardy();
                    }
                }
            }
        </script>
    </body>
</html>