<!DOCTYPE html>
<html>
    {% include 'presenter/head.html' %}
    
    <body>
        <!-- Connection status -->
        {% include 'presenter/connection_status.html' %}

        <div id="question-wrapper">
            {% include 'question_view.html' %}

            <!-- Buzz-in feed -->
            <div id="question-game-feed" class="d-none">
                <ul></ul>
            </div>
            
            <!-- Correct answer -->
            <div id="question-answer-correct" class="d-none">
                <div id="question-correct-reason">{{ _locale["correct_answer"] }}{% if "explanation" in extra %} ({{ extra["explanation"] }}){% endif %} <img class="question-result-avatar" src="{{ url_for('static', _external=True, filename=correct_image) }}"> <span class="question-answer-value"></span></div>
            </div>
            
            <!-- Wrong answer -->
            <div id="question-answer-wrong" class="d-none">
                <div id="question-wrong-reason"><span id="question-wrong-reason-text"></span> <img class="question-result-avatar" src="{{ url_for('static', _external=True, filename=wrong_image) }}"> <span class="question-answer-value"></span></div>
                <p id="question-actual-answer" class="d-none">{{ _locale["correct_answer_was"] }} <span class="question-emph">'{{ answer }}'{% if "explanation" in extra %} ({{ extra["explanation"] }}){% endif %}</span></p>
            </div>
        </div>

        <!-- Power Up splash video -->
        <div id="question-power-up-splash" class="d-none">
            {% for power_up in power_up_videos %}
            <video id="question-power-up-video-{{ power_up }}" class="d-none volume-7">
                <source src="{{ url_for('static', _external=True, filename=power_up_videos[power_up]) }}" type="video/webm">
            </video>
            {% endfor %}
        </div>
        
        <!-- Contestants -->
        {% include 'presenter/footer.html' %}

        <!-- Import theme, if any is defined -->
        {% if theme %}
        {% include theme['template_path'] + '/question.html' ignore missing %}
        {% include theme['template_path'] + '/global.html' ignore missing %}
        {% endif %}

        <!-- Buzzer sound -->
        <audio id="question-buzzer-sound">
            <source src="{{ url_for('static', _external=True, filename='data/sounds/buzzer.mp3') }}" type="audio/mpeg">
        </audio>

        <!-- Buzz-in sounds for contestants -->
        {% for contestant in game_contestants %}
        {% if contestant.buzz_sound %}
        <audio id="question-buzzer-{{ contestant['contestant_id'] }}">
            <source src="{{ url_for('static', _external=True, filename=contestant['buzz_sound']) }}" type="audio/mpeg">
        </audio>
        {% endif %}
        {% endfor %}
        <!-- Correct/wrong answers sounds -->
        {% if stage == "question" %}
        <audio id="question-sound-correct">
            <source src="{{ url_for('static', _external=True, filename=correct_sound) }}" type="audio/mpeg">
        </audio>
        {% for sound_file in wrong_sounds %}
        <audio class="question-sound-wrong">
            <source src="{{ url_for('static', _external=True, filename=sound_file) }}" type="audio/mpeg">
        </audio>
        {% endfor %}
        {% else %}
        <audio id="question-finale-suspense" class="volume-7">
            <source src="{{ url_for('static', _external=True, filename='data/sounds/suspense.mp3') }}" type="audio/mpeg">
        </audio>
        {% endif %}

        <script>
            initialize(
                '{{ game_contestants | tojson }}',
                "{{ stage | safe }}",
                '{{ _locale | tojson }}',
                '{{ question_ui_data | tojson }}'
            );

            socket.on("connect", function() {
                // Called when all contestants are ready
                socket.on("all_contestants_joined", function () {
                    {% if stage == 'question' and not daily_double %}
                    socket.emit("enable_powerup", null, "hijack");
                    {% endif %}
                    setupComplete = true;
                    hideConnectionStatus();
                });

                // Called when presenter is ready
                socket.on("presenter_joined", function () {
                    setConnectionStatusWaiting();
                    socket.on("buzz_received", addBuzzToFeed);
                    socket.on("buzz_winner", playerBuzzedFirst);
                    socket.on("power_up_used", powerUpUsed);

                    {% if daily_double %}
                    document.getElementById("question-wager-wrapper").classList.remove("d-none");
                    socket.on("daily_wager_made", function(amount) {
                        afterDailyDoubleWager(amount);
                    });

                    {% else %}
                    window.onkeydown = function(e) {
                        if (e.code == PRESENTER_ACTION_KEY) {
                            showQuestion();
                            {% if stage == 'finale_question' %}
                            setTimeout(function() {
                                socket.emit("enable_finale_answer");
                            }, 2000);
                            {% endif %}
                        }
                    }
                    {% endif %}

                    {% if not daily_double and stage == "finale_question" %}
                    {% for contestant_data in game_contestants %}
                        {% if contestant_data["finale_wager"] == 0 %}
                        setPlayerReady('{{ contestant_data["id"] }}');
                        {% endif %}
                    {% endfor %}
                    socket.on("contestant_ready", setPlayerReady);
                    {% endif %}

                    socket.on("contestant_joined", contestantJoined);
                    socket.on("contestant_disconnected", contestantDisconnected);
                    socket.on("contestant_removed", contestantRemoved);
                    socket.emit("setup_complete", true);
                });

                socket.emit("presenter_join", "{{ created_by }}");
            });
        </script>

    </body>
</html>