<!DOCTYPE html>
<html>
    {% include 'presenter/head.html' %}
    <body>
        <div class="bg-fill{% if theme and theme['bg_image'] %} bg-image" style="background-image: url({{ url_for('static', _external=True, filename=theme['bg_image']) }}); {% endif %}"></div>

        <div id="selection-wrapper">
            <!-- Logo -->
            {% include 'logo.html' %}
            
            <!-- Connection status -->
            {% include 'presenter/connection_status.html' %}

            <!-- Categories -->
            {% if stage == "selection" %}

            <!-- Regular rounds question selection -->
            <div id="selection-categories-wrapper">
                {% for category_data in categories %}
                <div class="selection-category-entry">
                    <div class="selection-category-header">
                        <span>{{ category_data["name"] }}</span>
                    </div>
                    {% for question_data in category_data["questions"] %}
                    <div class="selection-question-box{% if question_data['used'] or first_round %} inactive{% endif %}" onclick="goToQuestion(event.target, '{{ question_data['id'] }}', {{ question_data['daily_double'] | tojson }})">
                        <span>{{ question_data["value"] }}</span>
                    </div>
                    {% endfor %}
                </div>
                {% endfor %}
            </div>

            {% if first_round and lan_mode %}
            <audio id="selection-start-sound">
                <source src="{{ url_for('static', _external=True, filename=theme['data_path'] + '/sounds/its_happening.mp3') }}" type="audio/mpeg">
            </audio>
            {% endif %}

            {% else %}

            <!-- Finale category reveal -->
            <div id="selection-finale-wrapper">
                <h1>{{ name }}</h1>
                <h2 id="selection-finale-header1">{{ _locale["finale_reveal_1"] }}</h2>
                <h2 id="selection-finale-header2">{{ categories[0]["name"] }}</h2>
                <h3 id="selection-finale-header3">{{ _locale["finale_reveal_2"] }}</h3>
            </div>

            <!-- Jeopardy theme music -->
            <audio id="selection-jeopardy-theme">
                <source src="{{ url_for('static', _external=True, filename='data/sounds/jeopardy_theme.mp3') }}" type="audio/mpeg">
            </audio>
            {% endif %}
        </div>

        <!-- Contestants -->
        {% include 'presenter/footer.html' %}

        <!-- Import theme, if any is defined -->
        {% if theme %}
        {% include theme['template_path'] + '/selection.html' ignore missing %}
        {% include theme['template_path'] + '/global.html' ignore missing %}
        {% endif %}

        <script>
            initialize(
                '{{ game_contestants | tojson }}',
                "{{ stage | safe }}",
                '{{ _locale | tojson }}'
            );

            const arrowKeys = ["ArrowRight", "ArrowLeft", "ArrowUp", "ArrowDown"];

            socket.on("connect", function() {
                socket.on("presenter_joined", function () {
                    hideConnectionStatus();

                    window.onkeydown = function(e) {
                        {% if first_round %}
                        if (e.code == PRESENTER_ACTION_KEY) {
                            let startSound = document.getElementById("selection-start-sound");
                            if (startSound != null) {
                                startSound.volume = 0.3;
                                startSound.play();
                            }

                            chooseStartingPlayer(function(playerId) {
                                setPlayerTurn(playerId, true);
                                document.querySelectorAll(".selection-question-box").forEach((elem) => {
                                    elem.classList.remove("inactive");
                                });
                                socket.emit("first_turn", playerId);
                            });
                        }
                        {% endif %}
                        if (arrowKeys.includes(e.code)) {
                            tabulateCategorySelection(e.code, {{ categories | length - 1 }});
                        }
                        else if (e.code == "Enter") {
                            goToSelectedCategory();
                        }
                    };
                    {% if stage == "selection" and not first_round %}
                    setPlayerTurn("{{ player_with_turn['id'] }}", false);
                    {% elif stage == "finale_wager" %}
                    showFinaleCategory();
                    socket.on("contestant_ready", setPlayerReady);
                    {% endif %}

                    socket.on("contestant_joined", contestantJoined);
                });

                socket.emit("presenter_join", "{{ created_by }}");
            });
        </script>
    </body>
</html>