<!DOCTYPE html>
<html>
{% include 'dashboard/head.html' %}
<body>
    <script src="{{ url_for('static', _external=True, filename='js/question_pack.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', _external=True, filename='css/question_style.css') }}">
    
    <!-- Variables for 'question_view' template -->
    {% set editable = True %}
    {% set stage = "QUESTION" %}

    <div id="question-pack-outer-wrapper">
        <div id="question-pack-wrapper">
            {% include 'logo.html' %}

            <div class="input-field">
                <label for="pack-name">Pack Name</label>
                <input id="question-pack-name" name="pack-name" type="text" value="{{ name }}" placeholder="Name of Pack" oninput="syncPackName(); dataChanged();">
            </div>

            <div class="input-field split-input-field">
                <div>
                    <label for="pack-public" style="display: inline;">Public</label>
                    <input id="question-pack-public" name="pack-public" type="checkbox"{% if public %} checked{% endif %} onchange="syncPackPublic(); dataChanged();">
                </div>

                <div class="divider"></div>

                <div>
                    <label for="pack-finale" style="display: inline;">Final Jeopardy</label>
                    <input id="question-pack-finale" name="pack-finale" type="checkbox"{% if include_finale %} checked{% endif %} onchange="syncPackFinale(); dataChanged(); toggleFinale();">
                </div>
            </div>

            <div class="input-field split-input-field">
                <div>
                    <label for="language">Language</label>
                    <select id="question-pack-language" name="language" onchange="syncPackLanguage(); dataChanged();">
                        {% if not language %}
                        {% set active_language = 'english' %}
                        {% else %}
                        {% set active_language = language %}
                        {% endif %}

                        {% for language_id, language_name in languages %}
                        <option value="{{ language_id }}" {% if language_id == active_language %}selected{% endif %}>{{ language_name }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="divider"></div>

                <div>
                    <label for="theme_id">Theme</label>
                    <select id="question-pack-theme" name="theme_id" onchange="syncPackTheme(); dataChanged();">
                        {% for theme_data in themes %}
                        <option value="{{ theme_data['id'] }}" {% if theme_data['id'] == theme_id %}selected{% endif %}>{{ theme_data['name'] }}</option>
                        {% endfor %}
                        <option value="none" {% if not theme_id %}selected{% endif %}>Default</option>
                    </select>
                </div>
            </div>

            <div id="question-pack-music-wrapper" class="input-field">
                <label for="lobby-music">Lobby Music</label>
                {% if lobby_music %}
                <audio id="question-pack-lobby-music" controls preload="metadata"{% if lobby_volume %} data-volume="{{ lobby_volume }}"{% endif %} onvolumechange="syncLobbyVolume()">
                    <source src="{{ url_for('static', _external=True, filename=lobby_music) }}" type="audio/mpeg">
                </audio>
                {% endif %}
                <input id="question-pack-music-input" name="lobby-music" type="file" accept=".mp3" onchange="syncLobbyMusic(event);">
            </div>

            <div id="question-pack-data-wrapper">
                <div id="question-pack-data-header">
                    <div>
                        {%- for round_data in rounds -%}{% if loop.last %}{% set round_name = "Finale" %}{% else %}{% set round_name = "Round " + loop.index | string %}{% endif %}<button onclick="showRoundView({{ loop.index0 }});" class="question-pack-round-select-button question-pack-round-select-button-{{ loop.index0 }}{% if loop.last %} question-pack-round-select-finale{% if not include_finale %} d-none{% endif %}{% endif %}{% if loop.index == 1 %} question-pack-round-selected{% endif %}"><span>{{ round_name }}</span>{% if not loop.last %} <div onclick="deleteRound(event, {{ loop.index0 }})">&times;</div>{% endif %}</button>{%- endfor -%}
                    </div>

                    <button class="question-pack-add-round-btn" onclick="addRound();">+</button>
                </div>

                <div id="question-pack-data-body">
                    {% for round_data in rounds %}
                    {% set round_num = loop.index0 %}
                    {% set is_finale = loop.last and include_finale %}

                    <div class="question-pack-round-wrapper question-pack-round-wrapper-{{ round_num }}{% if is_finale %} question-pack-finale-wrapper{% endif %} d-none" data-height="0" data-width="0">
                        <div class="input-field">
                            <label for="round-name-{{ round_num }}" class="question-pack-round-name-label">Round Name</label>
                            <input class="question-pack-round-name" name="round-name-{{ round_num }}" value="{{ round_data['name'] }}" onchange="syncRoundData({{ round_num }}); dataChanged();">
                        </div>

                        <button class="question-pack-categories-placeholder{% if round_data['categories'] %} d-none{% endif %}" onclick="addCategory({{ round_num }}, {{ is_finale | tojson }});">
                            {% if is_finale %}Add Finale Question{% else %}Add a Category{% endif %}
                        </button>

                        <div class="question-pack-round-body">
                            {% for category in round_data["categories"] %}
                            {% set category_num = loop.index0 %}
                            <div class="question-pack-category-wrapper question-pack-category-wrapper-{{ category_num }}">
                                <div class="question-pack-category-header">
                                    <button class="question-pack-delete-category-btn delete-button" onclick="deleteCategory(event, {{ round_num }}, {{ category_num }})">&times;</button>
                                    <input class="question-pack-category-name" value="{{ category['name'] }}" onchange="syncCategoryData({{ round_num }}, {{ category_num }}); dataChanged();">
                                </div>

                                <div class="question-pack-category-body">
                                    {% for question_data in category["questions"] %}
                                    <div>
                                        <div class="question-pack-question-wrapper question-pack-question-wrapper-{{ loop.index0 }}" onclick="showQuestionView({{ round_num }}, {{ category_num }}, {{ loop.index0 }})">
                                            <button class="question-pack-delete-question-btn delete-button" onclick="deleteQuestion(event, {{ round_num }}, {{ category_num }}, {{ loop.index0 }}); event.stopPropagation();">&times;</button>
                                            <div class="question-pack-question-value question-pack-question-value-{{ loop.index0 }}">{{ question_data['value'] }}</div>
                                        </div>
    
                                        {% set question = question_data["question"] %}
                                        {% set answer = question_data["answer"] %}
                                        {% set value = question_data["value"] %}
                                        {% set extra = question_data["extra"] %}
    
                                        <div class="question-pack-question-view question-pack-question-view-{{ loop.index0 }} d-none">
                                            <button class="question-pack-question-view-exit" onclick="cancelCreateQuestion({{ round_num }}, {{ category_num }}, {{ loop.index0 }});">&times;</button>
                                            {% include 'question_view.html' %}
                                            <button class="question-pack-question-view-save default-button" onclick="saveQuestion({{ round_num }}, {{ category_num }}, {{ loop.index0 }});">Save Question</button>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>

                                <button class="question-pack-add-question-btn" onclick="createQuestionView({{ round_num }}, {{ category_num }})">+</button>
                            </div>
                            {% endfor -%}
                        </div>

                        <button class="question-pack-add-category-btn{% if not round_data['categories'] or is_finale %} d-none{% endif %}" onclick="addCategory({{ round_num }});">+</button>
                    </div>
                    {% endfor %}
                </div>

                <button id="question-pack-save-btn" class="default-button" disabled="true" onclick="saveData('{{ id }}');">
                    <div class="save-btn-regular">Save</div>
                    <div class="save-btn-pending d-none">
                        <div class="loading-icon"></div>
                    </div>
                    <div class="save-btn-success d-none">
                        <img src="{{ url_for('static', _external=True, filename='img/success.png') }}">
                    </div>
                    <div class="save-btn-fail d-none">
                        <img src="{{ url_for('static', _external=True, filename='img/error.png') }}">
                    </div>
                </button>
            </div>
            
        </div>
        
        <!-- Popup -->
        <div id="question-pack-popup" class="d-none"></div>
    </div>

    <!-- Question View Placeholder -->
    {% set category = {'name': 'Category Name', 'buzz_time': 10} %}
    {% set question = '' %}
    {% set answer = '' %}
    {% set value = 100 %}
    {% set extra = {} %}
    <div class="question-pack-question-view question-pack-question-view-placeholder d-none">
        <button class="question-pack-question-view-exit">&times;</button>
        {% include 'question_view.html' %}
        <button class="question-pack-question-view-save default-button">Save Question</button>
    </div>

    <script>
        {% for key in base_entries %}
        questionData["{{ key }}"] = {{ base_entries[key] | tojson }};
        {% endfor %}
        questionData['rounds'] = {{ rounds | tojson }};
        lastSaveState = JSON.stringify(questionData);
    </script>
</body>
</html>