body {
    background-color: rgb(23, 23, 23);
}

.d-none {
    display: none !important;
}

.bg-fill {
    position: absolute;
    z-index: -1;
    background: linear-gradient(to bottom, #2525c6, #1d1939);
    height: 100%;
    width: 100%;
    overflow: hidden;
    top: 0;
    left: 0;
}

.bg-fill.bg-image {
    background: none;
    background-size: cover;
    filter: blur(5px) brightness(0.75);
}

#logo-wrapper {
    text-align: center;
    padding-top: 3vh;
}

#logo-wrapper img {
    width: 22vw;
    min-width: 300px;
}