<!DOCTYPE html>
<html>
    {% include 'contestant/head.html' %}
    
    <body>
        {% if bg_image %}
        <div id="bg-image" style="background-image: url({{ url_for('static', _external=True, filename=bg_img) }});"></div>
        {% endif %}

        <div id="contestant-game-wrapper">
            <h1{% if stage == "QUESTION" %} class="d-none"{% endif %}>{{ app_name }}!</h1>

            <div id="contestant-game-header" style="border: 2px solid {{ color }};">
                <div>
                    <img src="{{ url_for('static', filename=avatar) }}">
                    <div id="contestant-game-name">{{ name }}</div>
                </div>
                <div id="contestant-game-info">
                    <div id="contestant-game-score" style="font-weight: 800;">{{ score }} {{ _locale["points"] }}</div>
                    <div id="contestant-game-buzzes">{{ buzzes }} buzzes</div>
                    <div id="contestant-game-stats"><span id="contestant-game-hits">{{ hits }}</span> | <span id="contestant-game-misses">{{ misses }}</span></div>
                    <div id="contestant-game-ping" class="contestant-low-ping">{{ ping }} ms</div>
                </div>
            </div>
    
            {% if stage == "LOBBY" %}

                <h2 id="contestant-game-waiting">{{ _locale["waiting_for_start"] }}</h2>

            {% elif stage == "ENDED" %}

                <!-- Endscreen -->
                {% if user_id in winner_ids %}
                    <h2 class="player-has-turn">{{ _locale["game_over_winner"] }}</h2>
                {% else %}
                    <h2>{{ _locale["game_over_loser"] }}</h2>
                {% endif %}

            {% else %}
                <h2 class="contestant-round-header">{{ _locale["round_header"] }} {{ round }}/{{ total_rounds }}</h2>
                {% if stage == "FINALE" %}
                <h2 class="contestant-round-header">{{ round_name }}</h2>
                {% else %}
                <h2 class="contestant-round-header">{{ _locale["question_header"] }} {{ question_num }}/{{ total_questions }}</h2>
                {% endif %}

                {% if stage == "QUESTION" or stage == "FINALE_RESULT" %}

                    {% if stage == "FINALE_RESULT" %}
    
                    <!-- Final Jeopardy answer -->
                    <h2 id="question-category-name">{{ question["category"]["name"] }}</h2>
                    <h3 id="finale-wager-header">{{ _locale["finale_wager_amount"] }} <strong>{{ finale_wager }}</strong> {{ _locale["points"] }}</h3>

                    {% if finale_wager > 0 %}
                    <div id="finale-question-wrapper" class="d-none">
                        <h3 id="finale-question-header">{{ question["question"] }}</h3>
                        <h4>{{ _locale["finale_answer"] }}</h4>
    
                        <input id="finale-answer">
                        <button id="contestant-wager-btn" onclick="giveFinalJeopardyAnswer('{{ user_id }}');">OK</button>
                    </div>
                    {% else %}
                    <h4>{{ _locale["finale_no_wager"] }}</h4>

                    {% endif %}

                    {% else %}
                    <!-- Question screen -->
                    <h2 id="question-category-header"><span id="question-category-name">{{ question["category"]["name"] }}</span>{% if stage == "QUESTION" %}<br>{% if daily_double %}Daily Double!{% else %}{{ _locale["for"] }} <span id="question-reward-span">{{ question["value"] }} {{ _locale["points"] }}</span>{% endif %}{% if "choices" in question %} <img src="{{ url_for('static', _external=True, filename='img/list.png') }}" id="question-choices-indicator">{% endif %}{% endif %}</h2>

                    {% if daily_double %}

                        {% if has_turn %}
                            {% set max_wager = [score, max_value] | max %}

                            <h3 class="player-has-turn">{{ _locale["daily_double_wager"] }}<br>(Min. 100, max. {{ max_wager }})</h3>
                            <input id="question-wager-input" type="number" min="100" max="{{ max_wager }}">
                            <button id="contestant-wager-btn" onclick="makeDailyDoubleWager('{{ user_id }}');">OK</button>

                        {% else %}
                            <h3>Waiting for <strong>{{ player_with_turn["name"] }}</strong> to answer the Daily Double...</h3>
                        {% endif %}
                    
                    {% else %}

                    <!-- Buzzer -->
                    <div id="buzzer-wrapper" onclick="pressBuzzer('{{ user_id }}');">
                        <img id="buzzer-active" src="{{ url_for('static', _external=True, filename='img/buzzer_active.png') }}" class="d-none">
                        <img id="buzzer-inactive" src="{{ url_for('static', _external=True, filename='img/buzzer_inactive.png') }}">
                        <img id="buzzer-pressed" src="{{ url_for('static', _external=True, filename='img/buzzer_pressed.png') }}" class="d-none">
                    </div>

                    <div id="contestant-buzzer-status" class="d-none">
                        <img id="buzzer-winner" src="{{ url_for('static', _external=True, filename='img/check.png') }}" class="d-none">
                        <img id="buzzer-loser" src="{{ url_for('static', _external=True, filename='img/error.png') }}" class="d-none">
                    </div>

                    <!-- Power-Ups -->
                    <div id="contestant-power-ups">
                        {% for power_up in power_ups %}
                        <button id="contestant-power-btn-{{ power_up['type'] }}" {% if not power_up['used'] and power_up['enabled'] %}onclick="usePowerUp('{{ user_id }}', '{{ power_up['type'] }}')"{% else %}disabled{% endif %}>
                            <img src="{{ url_for('static', _external=True, filename='img/forbidden.png') }}" class="contestant-power-used {% if not power_up['used'] %}d-none{% endif %}">
                            <img src="{{ url_for('static', _external=True, filename=power_up['icon']) }}" class="contestant-power-icon {% if not power_up['enabled'] or power_up['used'] %}power-disabled{% endif %}">
                        </button>
                        {% endfor %}
                    </div>

                    {% endif %}
                    {% endif %}

                {% else %}
    
                {% if stage == "FINALE_WAGER" %}
                
                <!-- Final Jeopardy wager -->
                <h2 id="finale-category-header">{{ question["category"]["name"] }}</h2>

                {% set max_wager = [score, max_value] | max %}
                <h3>{{ _locale["finale_wager"] }}<br>(Min. 0, max. {{ max_wager }})</h3>

                <input id="finale-wager-amount" type="number" min="0" max="{{ max_wager }}" disabled>
                <button id="contestant-wager-btn" onclick="makeFinalJeopardyWager('{{ user_id }}');" disabled>OK</button>

                {% else %}

                    <!-- Selection screen -->
                    {% if not player_with_turn %}
                        <h3 id="contestant-turn-desc"></h3>
                    {% else %}

                        {% if has_turn %}
                        <h3 id="contestant-turn-desc" class="player-has-turn">{{ _locale["your_turn"] }}</h3>
                        
                        {% else %}
                        <h3 id="contestant-turn-desc">{{ _locale["waiting_turn_1"] }} <strong>{{ player_with_turn["name"] }}</strong> {{ _locale["waiting_turn_2"] }}</h3>
                        {% endif %}

                    {% endif %}

                {% endif %}

                {% endif %}

            {% endif %}

            {% if stage != "ENDED" %}
            <script>
                socket.on("connect", function() {
                    socket.on("contestant_joined", function() {
                        pingActive = true;
                        sendPingMessage("{{ user_id }}");
                        animateWaitingText();
                        monitorGame("{{ user_id }}", {{ _locale | tojson }});
    
                        {% if first_round %}
                        socket.on("turn_chosen", function(userId) {
                            let elem = document.getElementById("contestant-turn-desc");
                            if (userId == "{{ user_id }}") {
                                elem.textContent = "{{ _locale['your_turn'] }}";
                                elem.className = "player-has-turn";
                            }
                            else {
                                elem.textContent = "{{ _locale['waiting_turn_3'] }}";
                            }
                        });
                        {% elif stage == "FINALE_WAGER" or stage == "FINALE_QUESTION" %}
                            {% if stage == "FINALE_QUESTION" %}
                            socket.on("finale_category_revealed", function() {
                                document.getElementById("finale-question-wrapper").classList.remove("d-none");
                            });
                            {% else %}
                            socket.on("finale_wager_enabled", function() {
                                document.getElementById("contestant-wager-btn").disabled = false;
                                document.getElementById("finale-wager-amount").disabled = false;
                            });
                            {% endif %}
                        {% endif %}
                    });

                    socket.emit("contestant_join", "{{ user_id }}");
                });
                socket.on("disconnect", function() {
                    pingActive = false;
                });
            </script>
            {% endif %}
        </div>
    </body>
</html>