<head>
    {% if stage == "SELECTION" or stage == "FINALE_WAGER" %}
    <title>{{ round_name }}</title>
    {% elif stage == "QUESTION" or stage == "FINALE_QUESTION" %}
    <title>{{ round_name }} - {{ question["category"]["name"] }}{% if stage == "QUESTION" %} {{ _locale["for"] }} {{ question["value"] }} {{ _locale["points"] }}{% endif %}</title>
    {% else %}
    <title>{{ app_name }}!</title>
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
    <link rel="icon" type="image/png" href="{{ url_for('static', _external=True, filename='img/favicon-32.png') }}" sizes="32x32">
    <link rel="icon" type="image/png" href="{{ url_for('static', _external=True, filename='img/favicon-48.png') }}" sizes="48x48">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', _external=True, filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', _external=True, filename='css/contestant_style.css') }}">
    <script src="{{ url_for('static', _external=True, filename='js/jquery.min.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    {% if game_id %}
    <script>const GAME_ID = "{{ game_id }}";</script>
    <script src="{{ url_for('static', _external=True, filename='js/contestant_game.js') }}"></script>
    <script>
        // Add listener for closing socket
        window.addEventListener("beforeunload", function(){
            if (socket) {
                socket.close();
            }
        });
    </script>
    {% else %}
    <script src="{{ url_for('static', _external=True, filename='js/contestant_lobby.js') }}"></script>
    {% endif %}
</head>