@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loading-icon {
    position: absolute;
    border: 4px solid #f3f3f3; /* Light grey */
    border-top: 4px solid #496688; /* Blue */
    border-radius: 50%;
    animation: spin 2s linear infinite;
}

.default-button {
    background-color: rgb(244, 244, 244);
    color: black;
    padding: 5px;
    border-radius: 8px;
    border: solid 2px white;
    box-shadow: 0px 1px 4px rgb(27, 27, 27);
    font-size: 18px;
    cursor: pointer;
}

.default-button:hover:not(:disabled) {
    filter: brightness(0.5);
}

.default-button[type="submit"] {
    margin-top: 10px;
}

.input-field {
    display: block;
    margin-bottom: 15px;
    text-align: left;
}

.input-field > label {
    display: block;
    font-size: 20px;
    margin-bottom: 5px;
}

.input-field > input[type="text"], .input-field > input[type="password"] {
    color: white;
    width: calc(100% - 20px);
    background-color: rgba(40, 40, 40, 0.75);
    padding: 5px;
    border-radius: 5px;
    border: groove 2px white;
}

#dashboard-form-error {
    color: red;
    font-weight: 800;
    font-size: 20px;
}

/*
    LOGIN
*/
#login-wrapper {
    color: white;
    margin-top: 5vh;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

#login-wrapper > form {
    width: 100%;
    text-align: center;
}

.login-submit-btn {
    width: 80px;
    font-size: 16px;
}

.login-submit-btn:first-of-type {
    margin-right: 5px;
}

#login-error-msg {
    color: red;
    position: relative;
    font-size: 17px;
}

/*
    HOME
*/
#dashboard-wrapper {
    margin-top: 5vh;
}

#dashboard-wrapper > h1 {
    text-align: center;
    font-size: 3.5rem;
    color: #f4f4f4;
    text-shadow: 0px 1px 3px #454545;
}

#dashboard-inner-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#dashboard-games-list, #dashboard-questions-list {
    color: white;
    width: 25vw;
    min-width: 300px;
    padding: 20px;
    background-color: #2139bc;
    border: solid 2px black;
    border-radius: 20px;
}

#dashboard-games-data, #dashboard-questions-data {
    overflow-y: auto;
    max-height: 50vh;
}

#dashboard-inner-wrapper > div > h3 {
    margin: 0;
    margin-bottom: 15px;
}

#dashboard-games-list {
    margin-bottom: 20px;
    margin-right: 15px;
}

#dashboard-questions-list {
    margin-left: 15px;
}

#dashboard-questions-list-empty, #dashboard-game-list-empty {
    font-style: italic;
}

.dashboard-list-header {
    font-size: 2rem;
    text-decoration: underline;
    margin-bottom: 20px;
}

.dashboard-questions-entry-wrapper, .dashboard-game-entry-wrapper {
    cursor: pointer;
    border: 2px solid white;
    background-color: #0c0c98;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    line-height: 1.2;
}

.dashboard-game-entry-ended.game-active {
    color: #11f511;
}

.dashboard-questions-entry-wrapper:hover, .dashboard-game-entry-wrapper:hover {
    filter: brightness(0.8);
}

.dashboard-questions-entry-wrapper > h3, .dashboard-game-entry-wrapper > h3 {
    text-align: center;
    margin-top: 0;
    font-weight: bold;
}

.dashboard-question-entry-public.pack-public {
    color: rgb(0, 108, 0);
}

.dashboard-question-entry-public.pack-private {
    color: rgb(205, 106, 0);
}

.dashboard-create-btn {
    margin-top: 20px;
    font-size: 18px;
}

.dashboard-create-btn > a {
    color: black;
    text-decoration: none;
}

/*
    CREATE GAME
*/
#create-game-wrapper {
    min-width: 350px;
    margin-top: 5vh;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    color: white;
    padding: 20px;
    background-color: #2139bc;
    border: solid 2px black;
    border-radius: 20px;
}

#create-game-wrapper > h1 {
    margin-top: 0.5rem;
}

#create-game-wrapper > form {
    width: 100%;
    text-align: center;
}

/*
    CREATE PACK
*/
#create-pack-wrapper {
    margin-top: 5vh;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    color: white;
    padding: 20px;
    background-color: #2139bc;
    border: solid 2px black;
    border-radius: 20px;
}

#create-pack-wrapper > h1 {
    margin-top: 0.5rem;
}

#create-pack-wrapper > form {
    width: 100%;
    text-align: center;
}

/*
    QUESTION PACK
*/
#question-pack-outer-wrapper {
    display: flex;
    align-items: center;
}

#question-pack-wrapper {
    position: relative;
    display: inline-block;
    min-width: 350px;
    max-width: 90vw;
    margin: 0 auto;
    margin-top: 5vh;
    text-align: center;
    color: white;
    z-index: 10;
    padding: 20px;
    background-color: #2139bc;
    border: solid 2px black;
    border-radius: 20px;
}

#question-pack-wrapper .input-field {
    width: 100%;
    text-align: center;
}

@keyframes popup-animate {
    0% {
        transform: translateY(-100%);
    }
    20% {
        transform: translateY(0px);
    }
    80% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(-100%);
    }
}

#question-pack-popup {
    color: white;
    width: 30vw;
    min-width: 350px;
    margin: 0 auto;
    font-size: 1.5rem;
    text-align: center;
    background-color: #16163b;
    border-radius: 10px;
    top: -10px;
    position: relative;
    border: 1px solid white;
    font-weight: 800;
    padding-top: 20px;
    padding-bottom: 15px;

    transform: translateY(-100%);

    animation-duration: 5s;
    animation-direction: alternate;
}

#question-pack-popup.popup-error {
    color: red;
}

#question-pack-data-wrapper {
    background-color: #454545;
    border: 2px solid white;
    border-radius: 5px;
    text-align: left;
}

#question-pack-data-header {
    border-bottom: 1px solid white;
}

#question-pack-data-header > div {
    display: inline-block;
}

.question-pack-round-select-button {
    width: 110px;
}

.question-pack-add-round-btn {
    cursor: pointer;
    font-weight: bold;
}

.question-pack-round-select-button, .question-pack-add-round-btn {
    border: 1px solid black;
    font-size: 16px;
    padding: 4px 8px;
}

.question-pack-round-selected {
    filter: brightness(0.8);
    font-weight: 800;
}

.question-pack-round-select-button > div {
    display: inline-block;
    cursor: pointer;
    font-size: 22px;
    line-height: 0.7;
    position: relative;
    margin-left: 3px;
    top: 1px;
}

#question-pack-name {
    font-size: 20px;
    max-width: 400px;
    text-align: center;
}

#question-pack-language {
    font-size: 18px;
}

.question-pack-round-select-finale {
    border-left: 3px solid black;
}

#question-pack-data-body {
    padding: 10px;
}

.question-pack-round-name {
    text-align: center;
    display: block;
    font-size: 18px;
    margin: 0 auto;
    margin-bottom: 10px;
}

.question-pack-round-wrapper {
    position: relative;
}

.question-pack-round-wrapper > div {
    display: inline-flex;
    flex-direction: row;
    justify-content: left;
}

.question-pack-category-wrapper {
    text-align: center;
    flex-shrink: 1;
}

.question-pack-category-header {
    position: relative;
}

.question-pack-delete-category-btn {
    position: absolute;
    right: 8px;
    top: 0;
    background-color: transparent;
    color: white;
    cursor: pointer;
    border: none;
    font-size: 18px;
}

.question-pack-category-name, .question-pack-question-wrapper {
    color: white;
    background-color: rgb(15, 12, 118);
    text-align: center;
    padding: 0 5px;
    height: 50px;
}

.question-pack-category-name {
    font-weight: 800;
    margin: 0 5px;
}

.question-pack-question-wrapper {
    cursor: pointer;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
}

.question-pack-question-wrapper:hover {
    filter: brightness(1.4);
}

.question-pack-add-question-btn, .question-pack-add-category-btn {
    position: relative;
    border: 2px dashed #ddd;
    cursor: pointer;
    font-weight: bold;
    background-color: transparent;
    color: white;
    font-size: 15px;
}

.question-pack-add-question-btn:hover, .question-pack-add-category-btn:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.question-pack-add-question-btn {
    border-top: none;
    top: -1px;
}

.question-pack-add-category-btn {
    border-left: none;
    left: -6px;
}

#question-pack-save-btn {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    color: white;
    border: 2px solid black;
    width: 70px;
    height: 46px;
    margin-top: 20px;
    background-color: rgb(2, 154, 2);
    font-weight: bold;
    font-size: 18px;
    border-radius: 5px;
    padding: 0;
}

#question-pack-save-btn:disabled {
    cursor: default;
    background-color: rgb(75, 75, 75);
}

#question-pack-save-btn > .save-btn-regular {
    position: absolute;
}

#question-pack-save-btn > .save-btn-pending {
    position: absolute;
    width: 30px;
    height: 30px;
    margin: 0 auto;
}

#question-pack-save-btn > .save-btn-pending > .loading-icon {
    height: 75%;
    width: 75%;
}

#question-pack-save-btn > .save-btn-success {
    position: absolute;
    height: 70%;
}

#question-pack-save-btn > .save-btn-success > img {
    position: relative;
    height: 100%;
    width: auto;
}

#question-pack-save-btn > .save-btn-fail {
    position: absolute;
    height: 70%;
}

#question-pack-save-btn > .save-btn-fail > img {
    position: relative;
    height: 100%;
    width: auto;
}

/*
    QUESTION PACK MODAL
*/

#question-pack-modal-wrapper {
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    position: fixed;
    backdrop-filter: blur(5px);
    z-index: 99;
}

#question-pack-modal {
    position: relative;
    width: 30vw;
    min-width: 350px;
    margin: 0 auto;
    top: 5vh;
    padding: 10px;
    border-radius: 10px;
    color: white;
    border: 2px solid white;
    background-color: #0c0c98;
}

#question-pack-modal-header {
    position: relative;
}

#question-pack-modal-header > h2 {
    margin-top: 0;
}

#question-pack-modal-category {
    font-style: italic;
}

#question-pack-modal-header > button {
    position: absolute;
    right: 5px;
    top: 0;
    font-weight: bold;
    font-size: 18px;
    background-color: white;
    border-radius: 5px;
    border: 2px solid black;
    cursor: pointer;
}

#question-pack-modal-body > .input-field > input[type="text"] {
    padding: 8px;
    font-size: 16px;
}

#question-pack-modal-question-media-wrapper {
    text-align: left;
    font-size: 20px;
}

.media-drag-target {
    border: 2px dashed white;
    cursor: pointer;
    margin-top: 10px;
    min-height: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.media-drag-target:hover {
    background-color: #4962ed;
    border: 2px solid white;
}

.modal-drag-target-preview-wrapper {
    height: 300px;
    width: 100%;
    text-align: center;
}

.modal-drag-target-preview {
    max-width: 100%;
    max-height: 100%;
}

#question-pack-modal-footer > button {
    color: white;
    padding: 10px;
    margin: 0 5px;
    border: 2px solid black;
}

#question-pack-modal-save-btn {
    background-color: rgb(2, 154, 2);
}

#question-pack-modal-delete-btn {
    background-color: rgb(203, 10, 10);
}