<style>
    #jul-corner-decoration-1 {
        position: fixed;
        pointer-events: none;
        top: 2vh;
        left: -1.2vw;
        width: 26vw;
        height: auto;
        z-index: 85;
        transform: rotate(-45deg);
    }

    #jul-corner-decoration-2 {
        position: fixed;
        pointer-events: none;
        top: 6vh;
        right: -2.3vw;
        width: 20vw;
        height: auto;
        z-index: 85;
        transform: rotate(45deg);
    }
</style>

<img id="jul-corner-decoration-1" src="{{ url_for('static', filename=theme['data_path'] + '/decoration_1.png') }}">
<img id="jul-corner-decoration-2" src="{{ url_for('static', filename=theme['data_path'] + '/decoration_2.png') }}">