<style>
    #jul-selection-fire {
        position: fixed;
        pointer-events: none;
        overflow: hidden;
        top: 0;
        left: 0;
        width: 100vw;
        z-index: -1;
        filter: blur(3px) brightness(0.75);
    }
</style>

<video id="jul-selection-fire" autoplay loop muted>
    <source src="{{ url_for('static', filename=theme['data_path'] + '/fireplace.mp4') }}" type="video/mp4">    
</video>

{% if first_round %}
<video id="selection-intro-media" data-delay="15000">
    <source src="{{ url_for('static', _external=True, filename=theme['data_path'] + '/sounds/its_happening.mp3') }}" type="audio/mpeg">
</video>

<script>
    let startSound = document.getElementById("selection-intro-media");
    startSound.volume = 0.3;
</script>
{% endif %}