<!DOCTYPE html>
<html>
{% include 'dashboard/head.html' %}
<body>
    <div id="create-pack-wrapper">
        <h1>Create Question Pack</h1>

        <form action="{{ url_for('dashboard.create_pack') }}" method="POST">
            <label for="name">Pack Name</label>
            <input type="text" name="name" minlength="1" maxlength="64" value="{{ user_name }}'s Question Pack">
    
            <label for="public">Make Public</label>
            <input type="checkbox" name="public">

            <label for="finale">Include Final Jeopardy</label>
            <input type="checkbox" name="finale">

            <input type="submit" value="Create" class="btn">
        </form>

        <p id="dashboard-form-error">{% if error %}Error: {{ error }}{% endif %}</p>
    </div>
</body>
</html>