<!DOCTYPE html>
<html>
{% include 'dashboard/head.html' %}
<body>
    {% include 'logo.html' %}

    <div id="dashboard-wrapper">
        <h1>Welcome, {{ user_name }}</h1>

        <div id="dashboard-inner-wrapper">
            <div id="dashboard-games-list">
                <div class="dashboard-list-header">Your Games</div>

                <div id="dashboard-games-data">
                    {% for game_data in games %}
                    <div class="dashboard-game-entry-wrapper"{% if 'url' in game_data %} onclick="window.location.href = '{{ game_data['url'] }}'"{% endif %}>
                        <h3>{{ game_data['title'] }}</h3>
                        <div class="dashboard-game-entry-question">Question Pack: {{ game_data['pack']['name'] }}</div>
                        <div class="dashboard-game-entry-rounds">Round {{ game_data['round'] }} / {{ game_data['regular_rounds'] + 1 }}</div>
                        <div class="dashboard-game-entry-question">Question {{ game_data['question_num'] }} / {{ game_data['total_questions'] }}</div>
                        <div class="dashboard-game-entry-powers">Power-Ups: {% if game_data['use_powerups'] %}Yes{% else %}No{% endif %}</div>
                        <div class="dashboard-game-entry-stage">Stage: {{ game_data['stage'] | capitalize }}</div>
                        <div class="dashboard-game-entry-contestants">Contestants: {{ game_data['game_contestants'] | length }} / {{ game_data['max_contestants'] }}</div>
                        <div class="dashboard-game-entry-created">Started: {{ game_data['started_at'] }}</div>
                        <div class="dashboard-game-entry-ended">{% if game_data['ended_at'] %}Ended: {{ game_data['ended_at'] }}{% else %}Ongoing{% endif %}</div>
                    </div>
                    {% endfor %}
                </div>

                {% if not games %}
                <div id="dashboard-game-list-empty">
                    You haven't hosted any games yet.
                </div>
                {% endif %}

                <button class="dashboard-create-btn default-button">
                    <a href="{{ url_for('dashboard.create_game') }}">New Game</a>
                </button>
            </div>

            <div id="dashboard-questions-list">
                <div class="dashboard-list-header">Your Question Packs</div>

                <div id="dashboard-questions-data">
                    {% for question_data in questions %}
                    <div class="dashboard-questions-entry-wrapper" onclick="window.location.href = '{{ url_for('dashboard.questions_view', pack_id=question_data['id'] ) }}'">
                        <h3>{{ question_data['name'] }}</h3>
                        <div class="dashboard-question-entry-questions">Questions: {{ question_data['total_questions'] }}</div>
                        <div class="dashboard-question-entry-created">Created: {{ question_data['created_at'] }}</div>
                        <div class="dashboard-question-entry-changed">Changed: {{ question_data['changed_at'] }}</div>
                        <div class="dashboard-question-entry-public {% if question_data['public'] %}pack-public{% else %}pack-private{% endif %}">{% if question_data['public'] %}Public{% else %}Private{% endif %}</div>
                    </div>
                    {% endfor %}
                </div>

                {% if not questions %}
                <div id="dashboard-questions-list-empty">
                    You haven't created any question packs yet.
                </div>
                {% endif %}

                <button class="dashboard-create-btn default-button">
                    <a href="{{ url_for('dashboard.create_pack') }}">Create Pack</a>
                </button>
            </div>
        </div>
    </div>
</body>
</html>