<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', _external=True, filename='img/favicon-32.ico') }}">
        <link rel="icon" type="image/png" sizes="48x48" href="{{ url_for('static', _external=True, filename='img/favicon-48.ico') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', _external=True, filename='css/style.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', _external=True, filename='css/contestant_style.css') }}">
    </head>

    <body style="text-align: center;">
        <div class="bg-fill"></div>

        {% include 'logo.html' %}

        <h2 style="color: white;">You have been kicked :(</h2>
    </body>
</html>